/* PRACTICE QUESTION 1

h2{
    color: orangered;
}
#needhelp{
    color: white;
    background-color: blue;
}
p{
    background-color: #111;
    color:#fff;
}

/* PRACTICE QUESTION II */
/* 
#myheading{
    color: rgb(255, 255,255);
    color: #ff9500;
    color: #2094b7;
} */ 


/* PRACTICE QUESTION III */

h1{
    font-family:League Spartan;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: #0fd7ff double underline;
    text-transform: uppercase;
}